

<!-- new post -->

<h1>Practice With Collection Forms<h1><br>

<h2>Add New Post</h2><br>

<%= form_for @post do |f| %>

  <div class = "row form-control">
    <div class = "col-md-12">

      <%= f.label :title %>
      <%= form_field_error_message(post, :title) %>
      <%= f.text_field :title,
          placeholder: "Enter title here" %><br>


      <%= f.label :body %>
      <%= form_field_error_message(post, :body) %>
      <%= f.text_area :body, size: "60x10",
          placeholder: "Enter body contents here" %>

    </div>
  </div>

  <div class= "row form-control">
    <div class = "col-md-12">
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name, {})   do |b| %>
      <%= b.lable(class: "col-md-4"){b.check_box + " " + b.text } %>
    <% end %>
    </div>
  </div>

  <div class= "row form-control">
    <div class = "col-md-12">
      <%= f.submit "#{post.persisted? ? 'Edit Post' : 'Create Post'}", class: "btn btn-large btn-primary btn-wide" %>
    </div>
  </div>

<% end %>

