
<!-- show post -->


<div class="container">
  <h1>Practice With Collection Forms<h1>
  <h2>Show Post<h2><br>

  <div class = "row small">
    <div class = "col-md-3">
      <strong>ID</strong>
    </div>
    <div class = "col-md-9">
      <span><%= @post.id %></span>
    </div>
  </div><br>

  <div class = "row small">
    <div class = "col-md-3">
      <strong>Title</strong>
    </div>
    <div class = "col-md-9">
      <span><%= @post.title %></span>
    </div>
  </div><br>

  <div class = "row small">
    <div class = "col-md-3">
      <strong>Body</strong>
    </div>
    <div class = "col-md-9">
      <span><%= @post.body %></span>
    </div>
  </div><br>

  <div class = "row small">
    <div class = "col-md-3">
      <strong>Category</strong>
    </div>
    <div class = "col-md-9">
      <span><%= @post.category.name if @post.category %></span> 
    </div>
  </div><br>

  <div class = "row small">
    <div class = "col-md-3">
      <strong>Tags</strong>
    </div>
    <div class = "col-md-9">
      <% @post.tags.each do |tag| %>
        <span><%= tag.name %><br></span>
      <% end %>
    </div>
  </div><br>

    <div class= "row small">
      <div class = "col-md-3">
        <%= link_to "Edit Post", edit_post_path(@post) %>
      </div><br><br>
      <div class = "col-md-3">
        <%= link_to "Index of Posts", posts_path %>
      </div>
    </div>


</div> <!--Container -->