<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Assignment Association Practice</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>

    <%= render :partial => 'shared/nav' %>

    <main id="main" class="container">
      <div class="page-header">
        <h1>Assignment Association Practice</h1>
      </div>
      <%= render :partial => 'shared/flash' %>
      <%= yield %>
      <footer style="margin-top: 32px;">
        &copy; <%= 0.days.ago.year %>
      </footer>
    </main>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
