<h4>Comments</h4>
<%= post_fields.fields_for :comments do |c| %>
  <%= c.label :body %>
  <%= c.text_area :body %>

  <% if c.object.persisted? %>
    <%= c.label :_destroy, "Delete this comment?" %>
    <%= c.check_box :_destroy %>
  <% end %>
<% end %>