<%= form_for post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>
	<%= f.label :body %>
	<%= f.text_area :body %>
	<br>
  <%= f.label :author_ids %>
  Anonymous: <%= radio_button_tag("post[author_ids]", value="", checked=true) %>
  <%= f.collection_radio_buttons(:author_ids, User.all, :id, :name, {}, {}) %>
	<h4> <%= f.label :tag_ids %></h4>
  <br>
	<%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>
	<%= f.submit %>
<% end %>
