<div class="container" >
  <div class="row">
    <div class="col-xs-6">
<%= form_for post, html: {class: 'form-horizontal'} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :body, class: "form-group" %>
  <%= f.text_area :body %>
  <br>
</div>



  <%= collection_check_boxes(
  		:post,
  		:tag_ids,
  		Tag.all,
  		:id,
  		:name
  )%>
  <br>

  <%= f.collection_radio_buttons(
  		:category_id,
  		Category.all,
  		:id,
  		:name
  ) %>
  <br>

  <%= f.collection_select(
  		:category_id, 
  		Category.all, 
  		:id, 
  		:name,
      {},
      multiple: true) %>
  <br>

  <h1>Commments</h1>

  <%= f.fields_for(:comment) do |comment_fields| %>
    <%= comment_fields.label :body %>
    <%= comment_fields.text_area :body %>

    <%= comment_fields.label :author %>
    <%= comment_fields.collection_select(
        :user_id,
        User.all,
        :id,
        :name,
        {:include_blank => true}
    )%>

  <%= f.submit "Submit" %>
  <% end %>
<% end %>
</div>

</div>