<%= form_for @post do |f| %>
  <h3>Tags</h3>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>
  <%= f.submit %>
<% end %>

<%= form_for @post do |f| %>
  <h3>Categories</h3>
  <%= f.collection_radio_buttons(:category_id, Category.all, :id, :name) %>
  <%= f.submit %>
<% end %>

<%= form_for @post do |f| %>
  <h3>Categories</h3>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  <%= f.submit %>
<% end %>

<% if @post.persisted? %>
  <% method = :patch %>
<% else %>
  <% method = :post %>
<% end %>

<%= form_tag( post_path(@post), method: method) do %>
  <h3>Categories</h3>
  <%= select_tag(
      "post[category_id]",
      options_from_collection_for_select(Category.all, "id", "name", selected: @post.category.id)
    ) %>
  <%= submit_tag %>
<% end %>
