<%= form_for @post do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :body %>
<%= f.text_area :body %>

<p>Tags:</p>
<%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>

<p>Authors:</p>
<%= f.collection_radio_buttons(:authors, User.all, :id, :name ) %>


<p>Authors via form_for:</p>

<%= form_for @post do |f| %>
<%=f.select(:author_id, @author_options)%>
<% end %>

<p>Authors via form_tag:</p>

<%= form_tag post_path(@post) do %>
  <%= select_tag(:author_id, options_for_select(@author_options, @post.author_id )) %>
<% end %>

<%= f.submit %>


<% end %>