<%if true %>
  <%= form_for(post,  :html => {id: 'some_id', class: 'some_class'}) do |f| %>
    <%= f.label("title") %><br>
    <%= f.text_field(:title)  %><br>
    <%= f.label("body") %><br>
    <%= f.text_field(:body) %><br>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %><br>
    <%= f.collection_radio_buttons(:category_id, Category.all, :id, :name) %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, :include_blank => "Nothing Selected") %><br>
    <%= f.select(
          :tag_ids,
          tags_options,
          {},
          multiple: true) %><br>
          <h3>Comments</h3>
      <%= render partial: 'comment_fields', locals: {post: @post, f: f}

    <%= f.submit %>
  <% end %>
<% end %>

<%if false %>
  <%= form_tag(
    post.persisted? ? post_path(post) : posts_path,
   method: post.persisted? ? :patch : :post
   ) do %>
    <%= label_tag 'title' %>
    <%= text_field_tag('post[title]', @post.title) %>
    <%= select_tag('post[category_id]', options_for_select(category_options, @post.category_id)) %><br>
    <%= submit_tag %>
  <% end %>
<% end %>