<%= form_for @post do |post_field| %>
  <h3>Title</h3>
  <%= post_field.text_field :title, id: 'title-box' %>

  <h3>Body</h3>
  <%= post_field.text_field :body, id: 'body-box' %>

  <h3>Comments</h3>
  <%= post_field.fields_for :comments do |comment_fields| %>
    <div><%= comment_fields.text_field :body %></div>

    <% if comment_fields.object.persisted? %>
      <%= comment_fields.label :_destroy, "Delete this review?" %>
      <%= comment_fields.check_box :_destroy %>
    <% end %>

  <% end %>

  <h3>Tags</h3>
  <%= post_field.collection_check_boxes(:tag_ids, Tag.all, :id, :name, {}, { class: "post-tag-boxes"}) %>

  <h3>Categories</h3>
  <%= post_field.collection_radio_buttons(:category_id, Category.all, :id, :name) %>

  <%= post_field.submit %>
<% end %>



<h1>NEST FORMS ABOVE THIS POINT</h1>



<%= form_for @post do |f| %>
  <h3>Tags</h3>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name, {}, { class: "post-tag-boxes"}) %>
  <%= f.submit %>
<% end %>

<%= form_for @post do |f| %>
  <h3>Tags</h3>
  <%= f.collection_select(:tag_ids, Tag.all, :id, :name, {include_blank: true}, { multiple: true }) %>
  <%= f.submit %>
<% end %>

<%= form_for @post do |f| %>
  <h3>Categories</h3>
  <%= f.collection_radio_buttons(:category_id, Category.all, :id, :name) %>
  <%= f.submit %>
<% end %>

<%= form_for @post do |f| %>
  <h3>Categories</h3>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  <%= f.submit %>
<% end %>
