<%= form_for @post do |f| %>
    <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title %><br>
        <%= f.label :body %><br>
        <%= f.text_area :body, rows: "3" %><br>
        <%= f.label "Authors" %><br>
        <% User.all.each do |user| %>
            <%= label_tag "post_author_ids_#{user.id}", user.name  %>
            <%= check_box_tag  "post[author_ids][]", 
                        user.id, 
                        @post.authors.include?(user), 
                        id: "post_author_ids_#{user.id}" %>
        <% end %>
        <br>
        <% Tag.all.each do |tag| %>
            <%= label_tag "post_tag_ids_#{tag.id}", tag.name  %>
            <%= check_box_tag  "post[tag_ids][]", 
                        tag.id, 
                        @post.tags.include?(tag), 
                        id: "post_tag_ids_#{tag.id}" %>
        <% end %>
        <%= f.label :category_id %><br>
        <%= f.collection_select :category_id, Category.all, :id, :name, { }, class: "dropdown-category-class", id: "dropdown-category-id" %><br>
        <%= f.fields_for :comments do |cf| %>
            <%= cf.label :body %><br>
            <%= cf.text_area :body %><br>
            <%= cf.label :author_id %><br>
            <%= cf.collection_select :author_id, User.all, :id, :name %><br>
            <% if cf.object.persisted? %>
                <%= cf.label :_destroy, "Delete this comment?" %>
                <%= cf.check_box :_destroy %>
            <% end %>
        <% end %>
        <%= f.submit %>
    </div>
<% end %>