<h2>New post</h2>
<%= form_for @post, html: {class: "test-class", id: "some-id"} do |f| %>
<br>
<%= f.label :title %>
<%= f.text_field :title , class: "txt-field-test"%>
<br>
<%= f.label :body %>
<%= f.text_area :body %>

<p>Tags:</p>
<%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>



<p>Authors via combo_box:</p>

<%= f.collection_select :author_ids, User.all, :id, :name, { include_blank: true }, {:multiple => true,
          class: "some_class", id: "try-id"} %>


<%= f.fields_for :comments, @post.comments do |comment_form| %>
<h2>New comment</h2>
<%= comment_form.label :body%>
<%= comment_form.text_field :body%>

<% end %>
<br>
<%= f.submit %>


<% end %>