<%= form_for post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>
	<%= f.label :body %>
	<%= f.text_area :body %>
	<br>
  <%= f.label :author_ids %>
  <%= f.collection_radio_buttons(:author_ids, User.all, :id, :name) %>
	<h4> <%= f.label :tag_ids %></h4>
  <br>
	<%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>
	<%= f.submit %>
<% end %>
<hr>
<%= form_for post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <br>

  <%= f.label :author_ids %>
  <%= f.collection_select(:author_ids, User.all, :id, :name) %>

  <%= f.label :tag_ids %>
  <br>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>
  <%= f.submit %>
<% end %>

<hr>

<%= form_tag '/post' do %>

  <%= label_tag :title %>
  <%= text_field_tag :title %>

  <%= label_tag :body %>
  <%= text_field_tag :body %>

  <%= label_tag "Author" %>
  <%= select_tag :author_id, options_for_select(@author_options, @post.author_id) %>

  

<% end -%>











