<h1>form_for</h1>

<%= form_for post  do |post_fields| %>
  <%= post_fields.label :title %>
  <%= post_fields.text_field :title, class: "form-control" %>
  <%= post_fields.label :body %>
  <%= post_fields.text_area  :body, class: "form-control" %>
  <br>
  <%= post_fields.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>
  <br>
  <%= post_fields.collection_radio_buttons(:category_id, Category.all, :id, :name) %>

  <br>

  <%= post_fields.collection_select(:category_id, Category.all, :id, :name, {}, class: "pull-right") %>



<h1>Combo Box</h1>


  <%= post_fields.select(:tag_ids, tag_options, { }, multiple: true) %>

  <%= post_fields.submit %>

<% end %>
