<%= form_for @post do |post_fields| %>
  <%= post_fields.label(:title) %>
  <%= post_fields.text_field(:title) %>
  <br>
  <%= post_fields.label(:body) %>
  <%= post_fields.text_field(:body) %>
  <br>
  <h2>Select tags for this post</h2>
  <%= post_fields.collection_check_boxes(
    :tag_ids,
    Tag.all,
    :id,
    :name
  ) %>
  <h2>Select categories for this post</h2>
  <%= fields_for :categories do |category_fields| %>
    <%= post_fields.collection_radio_buttons(
      :category_id,
      Category.all,
      :id,
      :name
    ) %>
  <% end %>
  <%= post_fields.submit %>
<% end %>
