<% @page_title = "| Edit Post" %>

<div class="row">
	<div class="col-xs-12 text-center">
		<h1><%= @page_header %></h1>
	</div>
</div>


<%= form_for @post do |f| %>

	<div class="row">
	  <div class="col-xs-1">
	  	<div class="side-header">
	  		<%= f.label :title, 'Title:'%>
	  	</div>
	  </div>

	  <div class="col-xs-11">
	  	<div class="side-content">
	  		<%= f.text_field :title%>
	  	</div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-1">
	  	<div class="side-header">
	  		<%= f.label :body, 'Body:'%>
	  	</div>
	  </div>

	  <div class="col-xs-11">
	  	<div class="side-content">
	  		<%= f.text_field :body%>
	  	</div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-11 col-xs-offset-1">
	  	<div class="side-content">
	  		<%= f.collection_select(:category_id, Category.all, :id, :name) %>
	  	</div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-11 col-xs-offset-1">
	  	<div class="side-content">
	  		<%= f.select(:tag_ids, @tag_options, { include_blank: true }, multiple: true, class: "blue-box", id: "red-box") %>
	  	</div>
	  </div>
	</div>

	<br>
	<h4>Comments</h4>
	
	<%= f.fields_for :comments do |comment| %>

		<div class="row">
		  <div class="col-xs-1">
		  	<div class="side-header">
		  		<%= comment.label :body %>
		  	</div>
		  </div>

		  <div class="col-xs-11">
		  	<div class="side-content">
		  		<%= comment.text_field :body %>
		  	</div>
		  </div>
		</div>

		<% if comment.object.persisted? %>
			<%= comment.label :_destroy, "Delete this comment?" %>
			<%= comment.check_box :_destroy %>
		<% end %>

	<% end %>

	<div class="row">
	  <div class="col-xs-10 col-xs-offset-1">
	  	<%= f.submit "Update Post", :class => "btn btn-primary btn-lg center-block" %>
	  </div>
	</div>

<% end %>