<h1>New Post</h1>

<%= form_for @post do |f| %>
	<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= render :partial => 'post_tag', :locals => {:f => f} %> 
	</p>
	<p>
	<%= render :partial => 'post_author', :locals => {:f => f, :post => @post, :author_options => @author_options} %>  
	</p>
	<p>
		<%= f.submit "Create New Post" %> 
	</p>

<% end %>
