<h4>New Form Here</h4>
<div class="form-group">
  <%= form_for @post do |f| %>
    Category:
    <%= f.select( :category_id, @category_options, { class: "form-control"} ) %>
    <br><br>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :body, "Body" %>
    <%= f.text_area :body, class: "form-control" %>
    <%= collection_check_boxes(:post, :tag_ids, Tag.all, :id, :name )%>
    <br />
    <%= f.submit "New Post", class: "btn btn-primary btn-block" %>
  <% end %>
</div>
