<h1>Hello world: New</h1>

<%= form_for @post do |form_builder| %>
  <%= form_builder.label :title %>
  <%= form_builder.text_field :title %>
  <%= form_builder.label :body %>
  <%= form_builder.text_area :body %></br>
  <%= form_builder.collection_check_boxes(
    :tag_ids,
    Tag.all,
    :id,
    :name) %></br>

  <%= form_builder.collection_radio_buttons(
    :category,
    Category.all,
    :id,
    :name) %>
  <%= form_builder.submit "Submit me" %>

<% end %>

    