<% @page_title = "| New Post" %>

<div class="row">
	<div class="col-xs-12 text-center">
		<h1>Create New Post</h1>
	</div>
</div>

<%= form_for @post do |f| %>

	<div class="row">
	  <div class="col-xs-1">
	  	<div class="side-header">
	  		<%= f.label :title, 'Title:'%>
	  	</div>
	  </div>

	  <div class="col-xs-11">
	  	<div class="side-content">
	  		<%= f.text_field :title%>
	  	</div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-1">
	  	<div class="side-header">
	  		<%= f.label :body, 'Body:'%>
	  	</div>
	  </div>

	  <div class="col-xs-11">
	  	<div class="side-content">
	  		<%= f.text_field :body%>
	  	</div>
	  </div>
	</div>

<% end %>