<%= @post.title %><br/>
<%= @post.body %><br/>
<%= @post.category.name %><br/>
<%= @post.tags.map{|tag| tag.name}.join(", ") %><br/>
<h2>Comments</h2>
  <% @post.comments.each do |comment| %>
    <p><%= comment.body %></p><br/>
  <% end %>
<%= link_to "Edit", edit_post_path %>