<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<p>
  <%= @post.category.name if @post.category %>
</p>

<ul>
  <% @post.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>

<%= link_to "Edit", edit_post_path(@post) %>
