<h1>Post <%= @post.id %></h1>
<h2>Post Title</h2>
<%= @post.title %>
<p>
<%= @post.body %>
</p>
<h4>Tags</h4>
<% @post.tags.each do |tag| %>
  <p><%= tag.name  %></p>
<% end %>

<%= @post.category.name if @post.category %>

<%= link_to 'Edit', edit_post_path  %>



