<h1>Show Post <%= @post.id %></h1>

<h4>Title:</h4>
<p><%= @post.title %></p>

<h4>Body:</h4>
<p><%= @post.body %></p>

<h4>Tags:</h4>
<ul>
  <% @tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>

<h4>Category:</h4>
<p><%= @category.name %></p>

<h4>Comments:</h4>
<% @comments.each do |comment| %>
  <p><%= comment.body %></p>
  <p>By <%= comment.author.name %> on <%= comment.created_at %></p>
<% end %>

<p>
  <%= link_to "Edit Post", edit_post_path(@post) %>
</p>

<p>
  <%= link_to "All Posts", posts_path %>
</p>
