<h1>Check Out The Post!</h1>

<h2><%= @post.title %></h2>

<p><%= @post.body %></p>

<span>Please fuse my internal organs with a:</span>
<ul>
  <% @post.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>

<% unless @post.category.nil? %>
  <p>I'm a <%= @post.category.name %>.</p>
<% end %>

<%= link_to "Edit the Post", edit_post_path %>