<h1>Hello world: Show</h1>
<%= @post.title %>
<%= @post.body %>
<% @post.tags.each do |tag| %>
  <div>Tag<%= tag.id %>:<%= tag.name %></div>
<% end %>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "All Posts", posts_path %>

