<h1><%= @post.title %></h1>

<br>
<%= @post.body %>
<br>

<h2>Tags</h2>
<% @post.tags.each do |tag| %>
  <h3><%= tag.name %></h3>
<% end %>

<h2>Category</h2>
<%= @post.category ? @post.category.name : "none"%>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <h4><%= comment.body %></h4>

<% end %>
