<h2>
  <%= @post.title %>
</h2>
Tags:
<% @post.tags.each do |t| %>
  <%= t.name %>
<% end %><br>
Category:
<%= @post.category.name %>

<p>
  <%= @post.body %>
</p>
<h4>Comments</h4>
<% @post.comments.each do |c| %>
  <p><%= c.body %></p>
<% end %>

<%= link_to "edit", edit_post_path(@post) %>
