<h2>Post Title : <%= @post.title %> </h2>
<h6>Tags : </h6>
<% @post.tags.each do |tag| %>
	<span><%= tag.name %>, </span>
<% end %>
<h3>Post Body :</h3>
<p><%= @post.body %></p>
<h3>Written By :  <%= @post.authors.first.name %>, et al</h3>
<h3>In Category : <%= @post.category.name %></h3>
<% @post.comments.each do |comment| %>
	<h4><%= comment.author.name %> Commented : </h4>
	<p><%= comment.body %></p>
<% end %>