<h1><%= @post.title %></h1>
<h3><%= @post.category.name if @post.category %></h3>
<p>
  <%= @post.body %>
</p>

<h3>Tags</h3>
<% @post.tags.each do |tag| %>
  | <%= tag.name %>
<% end %>

<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <%= comment.body %><br />
<% end %>
