<h1>New Post</h1>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :body %>
  <%= f.text_area :body %>
  <br>

  <%= f.label :category_id %>
  <%= f.collection_radio_buttons :category_id, Category.all, :id, :name %>
  <br>

  <%= f.label :tag_ids %>
  <%= f.select :tag_ids, @tag_options, {}, multiple: true %>
  <br>

  <%= f.submit %>
<% end %>
