<p>
  <%= link_to '< back to all posts', posts_path %>
</p>

<h1><%= @post.title %></h1>
<p>
  <%= link_to 'edit', edit_post_path(@post) %>
</p>

<p><%= @post.created_at %></p>
<p><%= @post.body %></p>
