<!DOCTYPE html>
<html>
<head>
  <title>AssignmentAssociationPractice</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="flash-messages">
    <ul>
      <% flash.each do |type, message| %>
          <li class="alert-<%= type %>" role="alert">
              <%= message %>
          </li>
      <% end %>
    </ul>

  </div>

  <section id="content">
    <%= yield %>
  </section>

</body>
</html>
